{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenidos
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" id="col_nav_sidebar">
                  <ul class="nav nav-sidebar">
                    <li class="active"><a href="{{ url_for('dashboard', option='temp') }}">Gas y Temperatura<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url_for('dashboard', option='rfid') }}">RFID y Camara</a></li>
                  </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h1 class="page-header">Dashboard</h1>
              <div class="row placeholders">
                <div class="col-xs-12 col-sm-12 placeholder">
                  <img src='data:image/png;base64,{{ graph }}' class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Graficas</h4>
                  <span class="text-muted"></span>
                </div>
              </div>

              <h2 class="sub-header">Datos sensores</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Temperatura</th>
                      <th>Fecha</th>
                      <th>Gas</th>
                      <th>Fecha</th>
                    </tr>
                  </thead>
                  <tbody>



                  {% for key_temp, value_temp in temp.items() %}
                      {% for key_gas, value_gas in gas.items() %}
                    <tr>
                      <td>#</td>
                      <td>{{ key_temp }} °C</td>
                      <td>{{ value_temp }}</td>
                      <td>{{ key_gas }} ppm</td>
                      <td>{{ value_gas }}</td>
                    </tr>
                      {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
          </div>
        </div>
        </div>
    </div>
{% endblock %}