{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{super()}}
    Bienvenidos
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" id="col_nav_sidebar">
                  <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('dashboard', next='dashboard') }}">Gas y Temperatura<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="{{ url_for('dashboard', next='dashboard') }}">RFID y Camara</a></li>
                  </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h1 class="page-header">Dashboard</h1>
              <div class="row placeholders">
                <div class="col-xs-12 col-sm-12 placeholder">
                  <img src='{{ url_for('static', filename=photo_url) }}' class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Foto</h4>
                  <span class="text-muted"></span>
                </div>
              </div>
            <div class="container">
                <form method="post">
                    {{ photo_form.photo_id.label }}
                    {{ photo_form.photo_id }}
                    {{ photo_form.submit }}
                </form>
            </div>
              <h2 class="sub-header">Datos sensores</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Id persona</th>
                      <th>Registro foto</th>
                    </tr>
                  </thead>
                  <tbody>



                  {% for id, photo in ids.items() %}
                    <tr>
                      <td>#</td>
                      <td>{{ id }}</td>
                      <td>{{ photo }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
        </div>
        </div>
    </div>
{% endblock %}