{% import 'bootstrap/wtf.html' as wtf %}
{% macro render_todo(text, delete_form, update_form) %}

    <tr>
        <td>{{text.to_dict().description }}</td>
        <td>
            {% if text.to_dict().done is false %}
                <span class="badge">
                    Pending
                </span>
            {% else %}
                <span class="badge">
                   Done
                </span>
            {% endif %}
        </td>
        <td>
            {{ wtf.quick_form(update_form, action=url_for('update', todo_id=text.id, done=text.to_dict().done)) }}
        </td>
        <td>
            <div class="p-2">
                {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id =text.id)) }}
            </div>
        </td>
    </tr>
{% endmacro %}